*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url();
}




#hero-inicio{
    width: 100%;
    height: 94vh;
    background-image: url(/Imagenes/hero-index.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
}

.navegacion{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.2rem;
    
}

.link-item{
    text-decoration: none;
    color: black;
}


.section-items{
    list-style: none;
    padding: .3rem 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 0.1rem solid black;
    border-bottom:0.1rem solid black;
}


.items .link-item{
    transition: all;
    padding: 0.2rem 0.7rem;
    background-color: aqua;
}

.items .link-item{

}

